APP_NAME=testapp
OWNER_ID=owner123
APP_SECRET=ffa5ec525ed2a369cf3ca26bbc9dd356414def9acdca47b568a43d7182680a2d
DB_PATH=auth.db
DEMO_USERNAME=admin
DEMO_PASSWORD=admin123
DEMO_LICENSE_KEY=XXXX-YYYY-ZZZZ
